$baseFontColor:#242424;
$headerbg:#fff;
$footerFontColor:#fff;
$indexGradualColorS:#40aafe;
$indexGradualColorE:#6555fe;
$indexGradualColorHoverS:#24a7f9;
$indexGradualColorHoverE:#4c3aff;
$indexMenuActive:#0073f1;
$indexFooterBg:#f8f8f8;
$indexCommonBgF:#f8f8f8;
$indexCommonBgS:#fff;